<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Irene Coding Diaries</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://kit.fontawesome.com/a1e74affc8.js" crossorigin="anonymous"></script>
    <link rel="icon" href="images/book-solid.svg">
    <link href="https://fonts.googleapis.com/css2?family=Gotu&display=swap" rel="stylesheet">
</head>
<body>
    <div class="posts-fixed-title">
        <div class="main-content-session-header">
                <p class="session-title">Irene Coding Diaries</p>
                <div class="filter-container wrapper-narrow">
                    <div class="filter-div">  <p class="filter" id="topic-main">Filter by topic</p>   
                        <div class="filter-sub topic-main">
                            <a href="/filter?category=js<% if (sortQuery){ %>&sort=<%= sortQuery %><% } %>">
                                <span class=" js-filter filter" id="js-filter"> Javascript</span></a>
                            <a href="/filter?category=node<% if (sortQuery){ %>&sort=<%= sortQuery %><% } %>">
                                <span class="node-filter filter" id="node-filter"> Node Js</span> </a>
                            <a href="/filter?category=css<% if (sortQuery){ %>&sort=<%= sortQuery %><% } %>">
                                 <span class="css-filter filter" id="css-filter"> Pure CSS</span></div> </a></div>
                     <div class="sort-div"><p class="filter" id="time-main"> Sort by </p> <div class="sort-sub time-main">
                         <a href="/filter?sort=ascending<% if (searchQuery){ %>&search=<%= searchQuery %> <% } else if (categoryQuery){ %>&category=<%= categoryQuery %> <% } %>">
                                <span class="filter" id="sort=ascending"> Earlest </span></a>
                        <a href="/filter?sort=descending<% if (searchQuery){ %>&search=<%= searchQuery %> <% } else if (categoryQuery){ %>&category=<%= categoryQuery %> <% } %>">
                                <span class="filter" id="sort=descending"> Latest </span></a>
                            
                            </div>
                            </div>
                    <div class="search-div"> <p class="filter" id="search-main"> Search</p> <div class=" search-main seach-sub"><input class=""type="text" name="searchName" id="searchKeyWords">
                        <a id="searchQuery" href=""><i class=" btn fas fa-search" id="search-confirm"></i></a></div></div>
                </div>
             </div>
            </div>
                <div class="main-content-posts">
                    <% if (posts.length == 0 ){ %> 
                        <div class="searchResult"> No search result for <strong><%= searchQuery %> is found</strong></div>
                    <% } %>
                    
                <% posts.forEach((post)=>{ %>
                    <div class="blog-card wrapper">
                        <div class="blog-cover-image">
                            <img src="<%= post.coverImage %>">
                        </div>
                        <div class="blog-cover-story">
                            <p class="blog-cover-title"> <%= post.title %></p>
                            <p class="blog-cover-details"> Post on <%= post.createdDate.toLocaleDateString() %> by <%= post.author %> </p>
                            <p class="blog-cover-details"><% const tag = post.categories.split(',') %> <% tag.forEach((e)=>{ %>
                                <span># <%= e %> </span>
                           <% }) %></p>
                            <p class="blog-cover-description"><%= post.excerpt %></p>
                            <a href="/<%= post.slug %>"> <p class="btn continue-reading"> Continue reading</p></a>
                        </div>
                    </div>
                <% }) %>



                        <div class="footer reveal-items">
                            <p>Design by Irene K.</p>
                            <div class="social-media">
                                <ul>
                                    <li>
                                       <a href="https://www.youtube.com/channel/UC8AHif92m5CvePZDyhReejw/featured?view_as=subscriber" target="_blank"><i class="fab fa-youtube"></i></a>
                                   </li>
                                   <li>
                                        <a href="https://twitter.com/IreneK86090683" target="_blank"><i class="fab fa-twitter"></i></a>
                                   </li>
                                   <li>
                                        <a href="https://github.com/irenekyc" target="_blank"><i class="fab fa-github"></i></a>
                                   </li>
                                   <li>
                                       <a href="mailto:irenekayuc@gmail.com"><i class="fas fa-envelope"></i></a>
                                   </li>
                              
                               </ul>
                            </div>
                       
                        </div>
                        </div> 

<script src="js/index.js"></script>

</body>
</html>